<div class="form-container">
  <form class="form" [formGroup]="registerStudentsForm" (ngSubmit)="onSubmit()">
    <!-- Usuario con Validacion -->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    <mat-form-field class="full-width">
      <mat-label>Nick</mat-label>
      <input
        type="text"
        matInput
        formControlName="Nick"
        [errorStateMatcher]="matcher"
        placeholder="perico"
      />
      <mat-error *ngIf="registerStudentsForm.controls['Nick'].hasError('required')">
        El Nick es <strong>obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="registerStudentsForm.controls['Nick'].hasError('Nick')">
        Ha de ser un Nick
      </mat-error>
    </mat-form-field>

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    <mat-form-field class="full-width">
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        matInput
        formControlName="Nombre"
        [errorStateMatcher]="matcher"
        placeholder="perico"
      />
      <mat-error *ngIf="registerStudentsForm.controls['Nombre'].hasError('required')">
        El Nombre es <strong>obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="registerStudentsForm.controls['Nombre'].hasError('Nombre')">
        Ha de ser un Nombre
      </mat-error>
    </mat-form-field>

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    <mat-form-field class="full-width">
      <mat-label>Apellidos</mat-label>
      <input
        type="text"
        matInput
        formControlName="Apellidos"
        [errorStateMatcher]="matcher"
        placeholder="perico"
      />
      <mat-error *ngIf="registerStudentsForm.controls['Apellidos'].hasError('required')">
        El apellido es <strong>obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="registerStudentsForm.controls['Apellidos'].hasError('Apellidos')">
        Ha de ser un apellido
      </mat-error>
    </mat-form-field>

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
      <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
      <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
    </svg>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        formControlName="Email"
        [errorStateMatcher]="matcher"
        placeholder="perico@ilerna.com"
      />
      <mat-error *ngIf="registerStudentsForm.controls['Email'].hasError('required')">
        El correo es <strong>obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="registerStudentsForm.controls['Email'].hasError('Email')">
        Ha de ser una dirección de correo
      </mat-error>
    </mat-form-field>

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar2-day-fill" viewBox="0 0 16 16">
      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zm-2.24 4.855a.428.428 0 1 0 0-.855.426.426 0 0 0-.429.43c0 .238.192.425.43.425zm.337.563h-.672v4.105h.672V8.418zm-6.867 4.105v-2.3h2.261v-.61H4.684V7.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V9.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105z"/>
    </svg>
    <mat-form-field class="full-width">
      <mat-label>Fecha de nacimiento</mat-label>
      <input
        type="date"
        matInput
        formControlName="fechaNacimiento"
        [errorStateMatcher]="matcher"
        placeholder="perico@ilerna.com"
      />
      <mat-error *ngIf="registerStudentsForm.controls['fechaNacimiento'].hasError('required')">
        La fecha de nacimiento es <strong>obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="registerStudentsForm.controls['fechaNacimiento'].hasError('nacimiento')">
        Debe ser una fecha de nacimiento válida.
      </mat-error>
    </mat-form-field>

    <!-- Contraseña -->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
      <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
      <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
    </svg>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="Password"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="registerStudentsForm.controls['Password'].hasError('required')">
        La contraseña es <strong>obligatoria</strong>
      </mat-error>
    </mat-form-field>

    <button
      class="form-buttons"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="registerStudentsForm.invalid"
    >
      <mat-icon>register</mat-icon>
      Registrarse
    </button>
  </form>
</div>
