<nav id="spacing" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home/main-page">Kwiatowski</a>
  <ul class="navbar-nav">
    <div *ngIf="!session" id="flex">
      <div>
        <li class="nav-item">
          <a class="nav-link" routerLink="register-select">Register</a>
        </li>
      </div>
      <div>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </div>
    </div>
    <div *ngIf="session">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            <a class="navbar-brand" href="#">
              <img *ngIf="userData.imagen != null" src="{{userData.imagen}}" alt="avatar" class="rounded-circle img-fluid" style="width: 30px; height: 30px;">
              <img *ngIf="userData.imagen == null" src="https://www.nicepng.com/png/full/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png" style="width: 30px; height: 30px;">
              {{this.userData.username}}
            </a>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><button class="dropdown-item" routerLink="home/profile" type="button">Perfil</button></li>
            <li><button class="dropdown-item" type="button" data-toggle="modal" data-target="#exampleModal">
              Cerrar sesión
            </button></li>
          </ul>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Estás seguro de que deseas cerrar sesión?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="endSession()" class="btn btn-primary" data-dismiss="modal">
                Cerrar sesión</button>
            </div>
          </div>
        </div>
      </div>
  </ul>
</nav>
