.container {
  display: inline-flex;
}

.layout {
  margin-left: 5em;
  width: 70%;
  height: 7em;
  border-radius: 10px;
  padding: 1em;
  margin-top: 0em;
  text-align: center;
}

.center{
  display: flex;
  align-items: center;
}


.big-layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5em;
  border-radius: 10px;
  background-color: white;
  padding: 1em;
  margin-top: 5em;
  text-align: center;
}

h3{
  text-align: center;
}

.btnSkills{
  background-color: transparent;
  border:none;
}
