<div class="container">

  <div class="container">
    <div>
      <div class="big-layout">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title mb-2 text-muted">
              <b> {{this.rankingService.rankCache.rank_name}}</b>
            </h5>
            <h6 *ngFor="let rankingData of UsersRankingData; let i = index" class="card-subtitle mb-2 text-muted">
              <div *ngFor="let user of User">
                <div *ngIf="user.id == rankingData.user_id && user.id != 0 && user.id != this.authService.UserData.id">
                  {{user.username}} {{rankingData.points}}
                </div>
              </div>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
