.container {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 17rem;
}

.layout {
  margin-left: 5rem;
  width: 50rem;
  height: 7rem;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  margin-top: 10rem;
  text-align: center;
}

.big-layout {
 
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
  width: 20rem;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  margin-top: 10rem;
  text-align: center;
}
