<div class="alert alert-warning" role="alert">
  No está suscrito a ningún ranking.
</div>
<div class="container">

  <div class="container">
    <div *ngFor="let ranking of UserRankingData; let i = index">
      <div *ngIf="this.ranking.id != 0" class="big-layout">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div *ngFor="let rank of RankingData; let i = index">
              <h5 *ngIf="this.ranking.rank_code == this.rank.id" class="card-title mb-2 text-muted">
                <b> {{rank.rank_name}}</b>
              </h5>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">Puntos: {{this.ranking.points}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
