<form class="form-signin" [formGroup]="changePoints">
  <table class="table">
    <h1>Tarea: {{assignmentData.assignment_name}}</h1><br>
    <tr>
      <th>Nombre Usuario</th>
      <th>Puntuación</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let rankingData of this.rankingService._data3; let i = index">
      <div *ngFor="let user of this.rankingService._data4">
        <div *ngIf="user.id == rankingData.user_id && user.id != 0 && user.id != User[0].id">
          <td>
            <input type="text" formControlName="user_id" hidden value="{{rankingData.user_id}}">
            {{user.username}}
          </td>
        </div>
      </div>
      <td>
        <input formControlName="points" class="form-control" type="number" placeholder="{{this.rankingData.points}}">
      </td>
      <td>
        <button type="submit" (click)="onSubmit(this.rankingData.user_id)" class="btn btn-success">Guardar
          cambios</button>
      </td>

    </tr>
  </table>
</form>
