<div class="form-container">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Usuario con Validacion -->
    <mat-form-field class="full-width">
      <mat-label>Nombre usuario</mat-label>
      <input
        type="text"
        matInput
        formControlName="Nick"
        [errorStateMatcher]="matcher"
        placeholder="perico@ilerna.com"
      />
      <mat-error *ngIf="loginForm.controls['Nick'].hasError('required')">
        El usuario es <strong>obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="loginForm.controls['Nick'].hasError('nick')">
        Ha de ser una dirección de correo
      </mat-error>
    </mat-form-field>

    <!-- Contraseña -->
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="Password"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="loginForm.controls['Password'].hasError('required')">
        La contraseña es <strong>obligatoria</strong>
      </mat-error>
    </mat-form-field> 

    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select formControlName="Professor">
        <mat-option value="1">Professor</mat-option>
        <mat-option value="0">Student</mat-option>
      </mat-select>
    </mat-form-field>
    
    <button
      class="form-buttons"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      <mat-icon>login</mat-icon>
      Entrar
    </button>
  </form>
</div>
