<div class="layout">
  <h3 class="card-title" style="color: rgb(255, 255, 255)">Ranking :
    {{this.rankingService.rankCache.rank_name}}</h3>
  <br><br>
  <div>
    <table class="table" style="color: rgb(255, 255, 255)">
      <thead>
        <tr>
          <th scope="col">Nick</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Puntos</th>
          <th scope="col">Denegar</th>
        </tr>
      </thead>
      <tbody *ngFor="let rankingData of this.rankingService._data3;let i = index">
        <tr *ngFor="let user of User" style="color:white;">
          <td *ngIf="user.id == rankingData.user_id && user.id != 0 && user.id != User[0].id">{{user.username}}</td>
          <td *ngIf="user.id == rankingData.user_id && user.id != 0 && user.id != User[0].id">{{user.firstname}}</td>
          <td *ngIf="user.id == rankingData.user_id && user.id != 0 && user.id != User[0].id">{{user.lastname}}</td>
          <td *ngIf="user.id == rankingData.user_id && user.id != 0 && user.id != User[0].id">{{rankingData.points}}</td>
          <td *ngIf="user.id == rankingData.user_id && user.id != 0 && user.id != User[0].id"><button class="btn btn-danger" (click)="eliminarUsuario(this.user.id,this.rankingService.rankCache.id)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-success" role="alert" *ngIf="showAlertDelete">
      Se ha eliminado un usuario del ranking.
    </div>
  </div>
</div>
