<div class="form-container">
  <form class="form">
    <fieldset disabled>
      <div class="center">
        <br />
        <label for="disabledTextInput" class="form-label">Foto de Perfil</label
        ><br />
        <img
          src="https://picsum.photos/200/200"
          class="img-thumbnail"
          alt="..."
        />
      </div>
      <div class="mb-3">
        <br />
        <label for="disabledTextInput" class="form-label">Nick:</label><br />
        <label for="disabledTextInput" class="form-label">{{
          perfil.Nick
        }}</label>
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Nombre:</label><br />
        <label for="disabledTextInput" class="form-label">{{
          perfil.Nombre
        }}</label>
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Apellidos:</label
        ><br />
        <label for="disabledTextInput" class="form-label">{{
          perfil.Apellidos
        }}</label>
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Centro:</label><br />
        <label for="disabledTextInput" class="form-label">{{
          perfil.Centro
        }}</label>
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Email:</label><br />
        <label for="disabledTextInput" class="form-label">{{
          perfil.Email
        }}</label>
        <div class="change-password">
          <label for="disabledTextInput" class="form-label">Contraseña:</label
          ><br />
          <label for="disabledTextInput" class="form-label">{{
            perfil.Password
          }}</label
          ><br />
          <button type="button" class="btn btn-primary btn-sm">
            Cambiar contraseña
          </button>
        </div>
      </div>

      <div class="center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
