<div class="layout">
  <div class="auth-wrapper">
    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h3 class="h3 mb-3 font-weight-normal text-center">Register User</h3>
      <!-- Errors -->
      <div *ngIf="errors?.name" class="alert alert-danger mt-3">
        {{ errors?.name }}
      </div>
      <div *ngIf="errors?.email" class="alert alert-danger mt-3">
        {{ errors?.email }}
      </div>
      <div *ngIf="errors?.password" class="alert alert-danger mt-3">
        {{ errors?.password }}
      </div>
      <div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
        {{ errors?.password_confirmation }}
      </div>
      <!-- Signup form -->
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="email" class="form-control" formControlName="email" />
      </div>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="firstname" />
      </div>
      <div class="form-group">
        <label>Apellido/s</label>
        <input type="text" class="form-control" formControlName="lastname" />
      </div>

      <div *ngIf="typeUser == 0">
        <div class="form-group">
          <label>Fecha nacimiento</label>
          <input type="date" class="form-control" formControlName="centerOrDate" />
        </div>
      </div>

      <div *ngIf="typeUser == 1">
        <div class="form-group">
          <label>Centro</label>
          <input type="text" class="form-control" formControlName="centerOrDate" />
        </div>
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" formControlName="password" />
      </div>
      <!--     <div class="form-group">
      <label>Confirm Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password_confirmation"
      />
    </div> -->
      <div class="center">
        <button type="submit" class="btn btn-block btn-primary">
          Register User
        </button><br>
        <small>¿Ya tienes cuenta? <a routerLink="/login">Pincha aquí</a></small>
      </div>
    </form>
  </div>
</div>
