<div class="alert alert-warning" role="alert" *ngIf="this.UserRankingData.length == 0">
  No está suscrito a ningún ranking.
</div>
<div class="container">
  <div class="big-layout">
    <div class= "" *ngIf="this.authService.UserData.date != undefined" style="color: rgb(0, 0, 0)">
      <form class="" [formGroup]="joinForm" (ngSubmit)="onSubmit()">
            <label for="rank_name">Codigo del ranking:</label>
            <input style="width: 230px; margin-right: 10px;" type="number" formControlName="rank_id" />
            <button type="submit" class="btn btn-block btn-primary" style="margin-top: 5%;">
              Unirse al ranking
            </button><br>
      </form>
    </div>

    <div class="" *ngIf="this.authService.UserData.date == undefined" style="color: rgb(0, 0, 0)">
      <form class="form-signin" [formGroup]="createForm" (ngSubmit)="createRanking()">
        <div class="">
          <div class="form-group">
            <label for="rank_name">Nombre del ranking:</label>
            <input type="text" class="form-control" formControlName="rank_name" required>
            <label for="description">Descripción:</label>
            <textarea class="form-control" rows="3" formControlName="description" required></textarea>
          </div>

          <button type="submit" class="btn btn-block btn-primary" style="margin-top: 5%;">
            Crear Ranking
          </button><br>
        </div>
      </form>
    </div>

  </div>
  <div class="container">
    <div *ngFor="let ranking of UserRankingData; let i = index">
      <div *ngIf="this.ranking.id != 0" class="big-layout">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div (click)="clickRanking(this.rank)" *ngFor="let rank of RankingData; let i = index">
              <h5 *ngIf="this.ranking.rank_code == this.rank.id" class="card-title mb-2 text-muted">
                <b> Codigo de ranking</b>
                <b> {{rank.rank_name}}</b>
              </h5>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">Puntos: {{this.ranking.points}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
