<div class="table">
  <form class="form-signin" [formGroup]="newAssignment" (ngSubmit)="onSubmit()">

    <th>
      <label for="">Nombre de la tarea</label>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="assignment_name" />
      </div>
    </th>
    <th>
      <label for="">Ranking</label>
      <div class="form-group">
        <select formControlName="rank_code">
          <option *ngFor="let rank of RankingData" value={{rank.id}}>{{rank.rank_name}}</option>
        </select>
      </div>
    </th>
    <th><br>
      <button type="submit" class="btn btn-block btn-primary">
        Crear tarea
      </button>
    </th>
  </form>
</div>

<table class="table">
  <tr>
    <th>Nombre Tarea</th>
    <th>Ranking Tarea</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let assignment of this.assignmentService._data1; let i = index">
    <td *ngIf="assignment.id != 0">{{assignment.assignment_name}}</td>
    <td *ngIf="assignment.id != 0">{{assignment.rank_code}}</td>
    <td *ngIf="assignment.id != 0">
      <button type="button" class="btn btn-danger" data-toggle="modal2" data-target="#exampleModal">
        Eliminar
      </button>
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">¿Estás segur@ de que quieres eliminar este usuario?</h5>
              <button type="button" class="close" data-dismiss="modal2" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="onSubmit()" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal2">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      <button (click)="assigmentData(assignment)" class="btn btn-success">Calificar</button>
    </td>
  </tr>
</table>
