<div class="form-container">
  <form class="form">
    <fieldset disabled>
      <div class="center">
        <br />
        <label for="disabledTextInput" class="form-label">Foto de Perfil</label
        ><br />
        <img
          src="https://picsum.photos/200/200"
          class="img-thumbnail"
          alt="..."
        />
      </div>
      <div class="mb-3">
        <br />
        <label for="disabledTextInput" class="form-label">Nick</label>
        <input
          type="text"
          id="disabledTextInput"
          class="form-control"
          placeholder="Disabled input"
        />
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Nombre</label>
        <input
          type="text"
          id="disabledTextInput"
          class="form-control"
          placeholder="Disabled input"
        />
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Apellidos</label>
        <input
          type="text"
          id="disabledTextInput"
          class="form-control"
          placeholder="Disabled input"
        />
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Email</label>
        <input
          type="text"
          id="disabledTextInput"
          class="form-control"
          placeholder="Disabled input"
        />
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Centro</label>
        <input
          type="text"
          id="disabledTextInput"
          class="form-control"
          placeholder="Disabled input"
        />
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Password</label>
        <input
          type="text"
          id="disabledTextInput"
          class="form-control"
          placeholder="Disabled input"
        /><br />
        <div class="change-password">
            <button type="button" class="btn btn-primary btn-sm">Cambiar contraseña</button>
        </div>
      </div>

      <div class="center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
